<h1 style="margin-left: 10px">Routing w Angularze</h1>
<nav>

  <button type="button" class="btn btn-primary" [routerLink]="['/home']" routerLinkActive="router-link-active, active"
    style="margin-left: 10px">Home </button>
  <button type="button" class="btn btn-primary" [routerLink]="['/courses']" routerLinkActive="router-link-active"
    style="margin: 10px">Kursy </button>
  <button type="button" class="btn btn-primary" [routerLink]="['/about']" routerLinkActive="router-link-active">O nas
  </button>
  <button type="button" class="btn btn-primary" [routerLink]="['/secret']" routerLinkActive="router-link-active, active"
    style="margin-left: 10px">Tajne </button>
  <button *ngIf="!authService.user" type="button" class="btn btn-primary" [routerLink]="['/login']" routerLinkActive="active" style="margin: 10px">Zaloguj
  </button>
  <button style="margin-left: 10px;" type="button" class="btn btn-secondary" *ngIf="authService.user" (click)="logout()">Wyloguj
  </button>
  <span style="margin: 10px" *ngIf="authService.user">Witaj : {{authService.user.email}} !</span>
</nav>
<div style="margin-left: 10px;">
<router-outlet ></router-outlet>
</div>
